.navMeau{
  position: fixed;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  .nav_main{
    position: relative;
    z-index: 34;
    background: #fff;
    transition: all .3s linear;
    &.active{
      transform: rotate(315deg);
    }
  }
  .nav_list{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 33;
    transition: all .2s linear;
    &.active{
      &:nth-child(2){
        transform: translate(-180px,-90px) rotate(360deg);
      }
      &:nth-child(3){
        transform: translate(-60px,-140px) rotate(360deg)
      }
      &:nth-child(4){
        transform: translate(60px,-140px) rotate(360deg)
      }
      &:nth-child(5){
        transform: translate(180px,-90px) rotate(360deg)
      }
    } 
  }
}