.tags_content{
  width: 100%;
  font-size: 28px;
  padding: 20px 24px;
  box-sizing: border-box;
  overflow: scroll;
  .tags_item{
    width: 100%;
    height: 88px;
    line-height: 88px;
    overflow: hidden;
    position: relative;
    .tags_words{
      width: calc(100% - 40px);
      left: 40px;
      top: 0;
      position: absolute;
      transition: left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .tags_del{
      width: 100px;
      height: 100%;
      background: #d83e45;
      color: #fff;
      text-align: center;
      position: absolute;
      right: -100px;
      top: 0;
    }
    .tag_operator{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}