@import url(./style/vars.less);
.tip {
  font-size: @gap;
  padding: @gap;
}

.flot-button {
  position: fixed !important;
  z-index: 99;
  right: @gap;
  bottom: 88px;

  &-left {
    right: auto;
    bottom: 45%;
    left: 0;
    border-radius: 0 32px 32px 0 !important;
  }
}

.flex-direction-column {
  flex-direction: column;
}

.gap {
  margin: @gap 0;
}

.empty {
  font-size: 100px !important;
}
